#login-wrapper {
  width: 450px;
}

.text-center{text-align: center}

a.socialbox {

  font-weight: 300;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align:left; 
}

a.socialbox.facebook {
  background-color: #215d90;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
a.socialbox.linkedin {
  background-color: #0073b2;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

a.socialbox.facebook:hover {
  background-color: #104c80;
}
a.socialbox.linkedin:hover {
  background-color: #0062a1;
}

a.socialbox .social-icon {
  line-height: 28px;
  font-size: 26px;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0 10px;
  color:#FFF
}
a.socialbox .description {
  display: inline-block;
  vertical-align: middle;
  padding:0 10px;
  font-size: 20px;
  color:#FFF
}

a.socialbox .description span {
  display: block;
  line-height: 16px;
}
#login-wrapper #login-container{
    text-align: left;
}